<div class="main-section-content">
    <!-- main content  -->

    <div class="main-content">

        <!-- main header text -->

        <div class="banner-header">
            <div class="banner-text">
                <div class="head-text">Dashboard / Employees</div>
                <div class="main-head">Employees</div>
            </div>

            <!-- seacrch and profile -->
            <div class="profile_search">
                <div class="search_input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" id="searchbar" onkeyup="searchemployee()" placeholder="search">
                </div>
                <i class="fa-regular fa-bell bell"></i>
                <img src="img/Avatar Style 6.png">
            </div>

        </div>