<div class="delete-success bg-colour" id="editformsuccess">
    <div class="toast-content">
        <div>
            <i class="fa-solid fa-user-pen"></i>
        </div>
        <div class="message">
            <span class="text">Success!</span>
            <div class="text-main">Employee Edited Successfully</div>
        </div>
        <div><i onclick="closealert()" class=" close fa-solid fa-xmark close-mark"></i></div>
    
    </div>
</div>