<body>

    <section class="conTainer">
        <div class="main-section">

            <!-- Side bar section -->

            <div class="main-side-section">
                <div class="nav-head">
                    <div class="main-section-head">Employee</div>
                    <div class="main-side-head">Management</div>
                </div>
            </div>

            <!-- nav links -->

            <div class="nav-content">
                <ul class="nav-head-content">
                    <li><a href=""><i class="fa-solid fa-house"></i> <span class="navrbars-text">Dashboard</span></a>
                    </li>
                    <li><a href=""><i class="fa-solid fa-chart-simple"></i><span class="navrbars-text">Employees</span></a></li>
                    <li><a href=""><i class="fa-solid fa-user"></i><span class="navrbars-text">My Profile</span></a>
                    </li>
                    <li><a href="/"><i class="fa-solid fa-lock"></i><span class="navrbars-text">Logout</span></a></li>

                </ul>
            </div>

            <!-- powered bye area -->

            <div class="copyright">
                <div class="copyright-content">Powered by</div>
                <img src="img/logo.png" alt="stackup learining">
            </div>
        </div>