<div class="table-section">

    <div class="table-container">

        <div class="tables">

            <div class="table-head">Employees List</div>
            <div class="number-dropdown">
                <select id="itemperpage">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>

                </select>
            </div>
            <div class="drop-text">of 10</div>

        </div>
        <div class="table-btn">

            <button class="table-btn-text " onclick="Formopen()">Add Employee</button>
        </div>
    </div>
    <div class=" row-section">
        <table class="table">
            <thead>
                <tr class="table-content-head">
                    <th scope="col" class="table-down-icon head-text">SL.No</th>
                    <th scope="col" class="table-down-icon head-text">Name</th>
                    <th scope="col" class="table-down-icon head-text">Email</th>
                    <th scope="col" class="table-down-icon head-text">Phone</th>
                    <th scope="col" class="table-down-icon head-text">Gender</th>
                    <th scope="col" class="table-down-icon head-text">DOB</th>
                    <th scope="col" class="table-down-icon head-text">Country</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="table-content"></tbody>
        </table>
    </div>
</div>

<!-- pagination -->
<div class="paginationitems">
    <ul class="pagination">
       
    </ul>
</div>
</div>
